$vista:mobile;

/***********************************mapa**********************************************/
$headings:(
  h1: 5em,
  h2: 4em,
  h3: 2em,
  h4: 1em,
  h5: 0.75em,
  h6: 0.35em
);
$h2: map-get($headings, h2 );

h2{
  font-size: $h2;
}
/*********************************mixin***************************************************/
@mixin marpad($margin,$padding){
  margin:$margin;
  padding:$padding;
}

/**************@extend******************/
%textCenter{
  text-align: center;
}

%medidasAuto{
  width: auto;
  height: auto;
}


/*******************Fin de extend*****************/
/*variables*/
$blanco: white;
$negro:black;


/***************************lista**************************/
$lista:(#ffff,#0000,#434343);
$primarioB: nth($lista, 1 );
$secundarioN: nth($lista, 2 );

$modo:dark;
$dark_background:#000000;

/*******************animacion de letras del index***********************************/
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 05%;
      width: 100%;
    }
  }


  
