$vista:mobile;

/*mapa*/
$headings:(
  h1: 4em,
  h2: 3em,
  h3: 2em,
  h5: 1em,
  h5: 0.75em,
  h6: 0.35em
);
$h2: map-get($headings, h2 );

h2{
  font-size: $h2;
}




/*variables*/
$blanco: white;
$negro:black;
$lista:(#ffff,#0000,#434343);
$primarioB: nth($lista, 1 );
$secundarioN: nth($lista, 2 );

$modo:dark;
$dark_background:#000000;

/*anumacion de letras del index*/
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
